node-js/node_modules/
node-js/npm-debug.log*
node-js/yarn-debug.log*
node-js/yarn-error.log*
/.env

python-ai/__pycache__/
python-ai/*.py[cod]
python-ai/*.egg-info/
python-ai/.env
python-ai/env/
python-ai/venv/
python-ai/.venv/
python-ai/fasttext_model.bin
python-ai/cc.en.300.bin
python-ai/cc.en.300.bin.gz


dist/
build/